<mdb-card class="mb-4 wow fadeIn">

    <!--Card content-->
    <mdb-card-body class="d-sm-flex justify-content-between" style="background-color:lightgray;">

        <h4 class="mb-sm-0 pt-3">
            <a href="https://mdbootstrap.com/material-design-for-bootstrap/" target="_blank" style="color:black;">Download Event Logs</a>
        </h4>

        <form class="d-flex md-form justify-content-center my-0">
            
        </form>

    </mdb-card-body>

</mdb-card>

<div class="mb-4">
    <div class="container">
        <form action="action_page.php">
      
          <label for="gname">Geo Name</label>
          <select id="country" name="country">
            <option value="australia">AU</option>
            <option value="uk">UK</option>
            <option value="usa">USA</option>
            <option value="australia">TH</option>
            <option value="uk">IT</option>
            <option value="usa">DK</option>
            <option value="australia">NZ</option>
            <option value="uk">SA</option>
            <option value="usa">SE</option>
          </select>
      
          <label for="elname">Event Level</label>
          <select id="eventlevel" name="eventlevel">
            <option value="system">System</option>
            <option value="app">Application</option>
            <option value="sec">Security</option>
          </select>
      
          <label for="etname">Event Type</label>
          <select id="eventtype" name="eventtype">
            <option value="error">Error</option>
            <option value="warn">Warning</option>
          </select>
      
          <input type="submit" value="Download">
      
        </form>
      </div>
    
</div>


